.desktop{
background: linear-gradient(180deg, #E9FAFF 0%, rgba(233, 250, 255, 0) 100%);
padding: 70px 0px;

}

.meeting p {
  font-weight: 400;
  font-size: 40px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #20262a;
  width: 60%;
  margin: 0px auto;
}

.right p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #5c5c5c;
  margin: 20px auto;
  width: 90%;
}

.right a {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 190px;
  margin: 70px auto;
  background-color: #00b6f0;
  padding: 16px 46px;
  border-radius: 85px;
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .desktop{
    display: flex;
    justify-content: center;
    padding: 0px 100px;
    margin: 0 auto;
  }

  .meeting p {
    width: 90%;
    text-align: left;
    margin-top: 80px;
  }

  .right {
    padding-top: 70px;
  }

  .right p {
    width: 55%;
    text-align: left;
    font-size: 18px;
  }

  .right a {
    display: block;
    width: 35%;
    margin-left:22%;
  }

  
}
