.meeting p {
  font-weight: 400;
  font-size: 46px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #20262a;
  width: 60%;
  margin: 80px auto;
}

.right p {
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #5c5c5c;
  margin: 20px auto;
  width: 80%;
}

.right a {
  display: grid;
  place-items: center;
  text-align: center;
  width: 50%;
  margin: 70px auto;
  background-color: #00b6f0;
  padding: 16px 46px;
  border-radius: 85px;
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .desktop{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
  }

  .meeting p {
    width: 90%;
    text-align: left;
  }

  .right {
    padding-top: 70px;
  }

  .right p {
    width: 60%;
    text-align: left;
  }

  .right a {
    width: 25%;
    margin-left: 150px;
  }
}
