.background {
    height: 100vh;
    background-color: #002E48;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background > section {
    width: 90%;
    margin: 0 auto;
    height: 87vh;
    background: rgba(0, 80, 124, 0.2);
box-shadow: 0px 4px 38px rgba(0, 0, 0, 0.25);
border-radius: 32px 0px 0px 32px;
    border-radius: 32px;
    display: flex;
}

.leftpanel {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.rightpanel {
    margin-right: 0px;
    object-fit: fill;
    display: block;
    width: 50%;
}


.rightpanel > img {
    width: 100%;
    height: 87vh;
    position: relative;
  }  

  @media screen and (max-width: 768px){
  .rightpanel{
    display: none;
  }

  .background > section{
    width: 100%;
    background: none;
    border-radius: 0%;
    /* background: #002E48; */
  }

  .leftpanel {
    width: 80%;
  }
}