.subheroSection {
  width: 100%;
  margin: 0 auto;
  padding: 0px 0 70px;
}
.dashboard {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: -10%;
}
.dashboard img {
  width: 90%;
}
.subheroSection h3 {
  margin-top: 75px;
  text-align: center;
  font-weight: 450;
  font-size: 36px;
  line-height: 42px;
  color: #f3cd03;
  letter-spacing: 0.1px;
  margin-bottom: 7px;
  font-family: "Circular Std", sans-serif;
}

.subheroSection h1 {
  font-size: 50px;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  font-weight: 700;
  line-height: 65px;
  place-items: center;
  color: #20262a;
  letter-spacing: 0.2px;
  font-family: "Circular Std", sans-serif;
}



.subheroSection p {
  font-weight: 450;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #5c5c5c;
  margin: 7px auto;
  width: 80%;
  font-family: "Circular Std", sans-serif;
}
.subheroSection span {
  display: none;
  font-family: "Circular Std", sans-serif;
}

.heroButton {
  margin-top: 60px;
}

.heroButton a {
  display: block;
  font-family: "Circular Std", sans-serif;
}

.heroButton .download {
  text-decoration: none;
  outline: none;
  color: white;
  margin: 15px auto;
  padding: 18.5px;
  background-color: #00b6f0;
  border-radius: 85px;
  text-align: center;
  width: 317px;
}

.heroButton a:last-child {
  width: 317px;
  text-decoration: none;
  outline: none;
  color: #00b6f0;
  padding: 15px;
  background-color: #ffffff;
  border: 1px solid #00b6f0;
  border-radius: 85px;
  text-align: center;
  margin: 5px auto;
}


.screenSection {
  margin: 60px auto;
  padding-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .heroButton {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    align-items: center;
  }

  .heroButton a {
    display: inline;
  }

  .subheroSection p {
    width: 40%;
    margin: 0 auto 50px;
  }
  
}
