.pricing {
  background: #182333;
  padding-top: 100px;
  padding-bottom: 100px;
}

.caption h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 50px;
  line-height: 65px;
  letter-spacing: 0.2px;
  text-align: center;
  /* margin-top: 150px; */
}

.caption p,
.amount span {
  margin-top: 26px;
  margin-bottom: 77px;
  color: #ffffff;
  font-size: 19px;
  line-height: 30px;
  font-weight: 450;
  line-height: 38px;
  letter-spacing: 0.2px;
  margin: 25px auto;
}

.flip1{
  display: block;
  width: 85%;
  text-align: center;
}

.flip2{
  display: none;
  width: 72%;
}

.amount{
  margin-top: 70px;
}

.thirty {
  color: #ffffff;
  width: 28%;
  margin: 10px auto;
  font-weight: 450;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.2px;
}

.rate,
.amount span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}

.rate p:first-child{
  font-weight: 900;
  font-size: 72px;
  line-height: 78px;
  letter-spacing: 0.2px;
  color: #f3cd03;
  text-align: center;
}

.amount span {
  margin: 30px auto;
}

 .rate p:last-child, .rate p:last-child strong {
  display: block;
  font-weight: 450;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: #ffffff;
}

.amount a {
  display: flex;
  justify-content: center;
  width: 35%;
  text-align: center;
  margin: 0 auto;
  background-color: #00b6f0;
  padding: 16px 0;
  border-radius: 85px;
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .pricing {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }

  .caption{
    width: 40%;
  }

  .flip2{
    display: block;
  }

  .flip1{
    display: none;
  }

  .caption h1, .caption p {
    text-align: left;
    margin-left: 0px;
  }

  


  .amount{
    margin-top: 0px;
  }

  .amount  p {
    width: 80%;
    margin-left: 0px;
    text-align: left;
  }

  .amount span{
    width: 80%;
    text-align: left;
    margin-left: 0px;
  }

  /* .rate > p:last-child {
    width: 120%;
  } */

  .amount a, .rate {
    width: 55%;    
    margin-left: 0px;
}
}