.testimonials h3 {
  font-weight: 450;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #20262a;
}

.testimonials{
  padding-bottom: 60px;
}

.testimonials .ibm {
  display: grid;
  place-items: center;
  margin: 30px auto;
}

.ibm > img {
  width: 149.85px;
  height: 70px;
}

.bend{
  position: absolute;
  display: block;
}

.testimonials p,
.testimonials span {
  font-weight: 450;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #5c5c5c;
  margin: 25px auto;
  width: 80%;
  font-size: 18px;
  line-height: 30px;
}

.testimonials span {
  display: none;
}

.testimonials a {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  color: #ffffff;
  width: 266px;
  height: 52px;
  flex-direction: row;
  padding: 20px 36px;
  background: #00b6f0;
  border-radius: 85px;
  text-decoration: none;
  margin-top: 50px;
}

.testimonials p strong {
  font-weight: normal;
}

.client {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  gap: 23px;
  margin: 0 auto;
}

.quadrant {
  display: none;
}

.edge {
  display: none;
}

.mobilequad{
  display: block;
  position: absolute;
  top: 567%;
  right: 0%;
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .testimonials{
    padding-bottom: 100px;
    position: relative;
  }

  .testimonials span {
    display: contents;
    align-items: center;
  }

  .bend,   .mobilequad {
    display: none;
  }

  .client {
    gap: 0px;
    width: 20%;
    margin: 0 auto;
  }

  .client > p {
    width: 40%;
  }

  .client p span {
    display: block;
    margin: 0px;
  }

  .quadrant {
    display: inline-block;
    position: absolute;
    left: 15%;
    bottom: 30%;
  }

  .edge {
    display: block;
    position: relative;
    bottom: 0%;
    float: right;
  }

  .testimonials p strong {
    display: block;
  }

  .testimonials p {
    width: 40%;
  }

}
