@import url("https://fonts.cdnfonts.com/css/circular-std");
/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap'); */
/* @font-face {
  font-family: myFont;
  src: url(CircularStdFont.otf);
}
                */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  'Circular Std', sans-serif;
}

.main {
  height: 70px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.22) 7.62%,
    rgba(0, 225, 198, 0.06) 25.5%,
    #ffffff 70.92%
  );
}














